@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: rgb(238,174,202);
    --secondary-color: #fff;
    --font-size: 20px;
}

body{
    background: var(--primary-color);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.app-wrapper {
    background-color: #cce7e8;
    min-width: 28rem;
    min-height: 31rem;
    padding: 1.8rem;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 10px 10px 2.5rem;
    margin-bottom: 10px;
}

.header h1{
    text-align: center;
    margin: 1.8rem 0;
    font-weight: 600;
}

.task-input {
    outline: none;
    width: 16.25rem;
    padding: 0.9rem;
    margin-right: 1.5rem;
    font-size: 1.25rem;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.btn-add {
    width: 6.25rem;
    padding: 0.9rem 0.9rem;
    font-size: var(--font-size);
    border-radius: 10px;
    border: 0;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-weight: 600;
}

.btn-add:hover{
    background: var(--primary-color);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.list-item{
    display: flex;
    margin: 1.25rem  0;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
    font-weight: 600;
}


.btn-edit,
.btn-delete,
.btn-complete{
    border: none;
    outline: none;
    cursor: pointer;
    font-size: var(--font-size);
    border-radius: 50%;
    background-color: transparent;
    color: #1F2833;
}

.btn-edit{
    margin-right: 1.25rem;
    color: green;
}

.btn-complete{
    margin-left: 10px;
    margin-right: 1.25rem;
}

.btn-delete{
     color: red;
}

.list {
    width: 13.75rem;
    background: transparent;
    border: none;
    font-size: var(--font-size);
    padding-left: 10px;
    margin-right: 0.9rem;
    font-weight: bold;
}

input:focus, button:focus{
    outline: none;
}
